node_modules
.git
.DS_Store
cypress/videos
cypress/screenshots

# Cypress artifacts
cypress/reports/*
!cypress/reports/.gitkeep
cypress/screenshots/
cypress/videos/
cypress/downloads/

mochawesome-report/
mochawesome*.json

.env